@font-face {
  font-family: "777Balsamtint";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "777Balsamtint";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --black: #000;
  --white: #fff;
  --blue: #cae8e3;
  --pink: #f6e4d5;
  --yellow: #ffd080;

  --bg-body: #f3f8fe;
  --bg-main: #fdfdfd;
  --bg-second: #c3c2c8;
  --color-hover: #edf0f5;
  --color-text: #151426;

  --border: 1px solid rgba(0, 0, 0, 0.2);
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden; /*overflow-x : 왼쪽,오른쪽 내용이 넘칠 때 어떻게 보여줄지. hidden : 내용이 잘림. 스크롤바가 나타나지 않음.*/
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  font-size: 2.5rem;
}

.heading h1 {
  font-size: 4rem;
  padding-top: 0.5rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: var(--white);
  background: var(--black);
  border: var(--border);
  cursor: pointer;
  font-weight: bolder;
  border-radius: 0.5rem;
}

.btn:hover {
  background: none;
  color: var(--black);
}

.line-down {
  position: relative;
  z-index: 0;
}

.line-down::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--yellow);
  z-index: -1;
  clip-path: polygon(0 80%, 100% 75%, 100% 100%, 0% 100%);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--black);
}

.header .navbar a:hover {
  text-decoration: underline;
}

.header .btn {
  margin-top: 0;
}

.header_mobile {
  display: none;
}

.sm_login {
  background-color: var(--blue);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 600;
  display: none;
}

#menu-btn {
  cursor: pointer;
  font-size: 3rem;
  display: none;
}

section {
  padding: 5rem 9%;
}

.services {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.calender {
  width: 51.2rem;
  height: 54rem;
  background-color: var(--bg-main);
  box-shadow: var(--shadow);
  border-radius: 4rem;
  padding: 3rem;
  border: var(--border);
}

.month {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.4rem;
  width: 5.5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days div:hover:not(.today) {
  background-color: var(--pink);
  border-radius: 50%;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: var(--blue);
  border-radius: 50%;
}

.login {
  width: 40rem;
  height: 35rem;
  background-color: var(--bg-main);
  box-shadow: var(--shadow);
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  border: var(--border);
}

.login h1 {
  font-size: 1.8rem;
  margin-bottom: 10%;
}

.login .login_btn {
  width: 30rem;
  height: 7rem;
  background-color: var(--pink);
  font-size: 2.5rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 20%;
  border: var(--border);
}

.login .login_footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login .login_footer a {
  font-size: 1.6rem;
  color: var(--color-text);
}

.book {
  background-color: var(--blue);
}

.book .slide {
  width: 20rem;
  height: 33rem;
}

.book .slide .image {
  position: relative;
  overflow: hidden;
  height: 25rem;
  width: 100%;
  border-radius: 2rem;
}

.book .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book .slide .content {
  padding: 1rem 0;
  text-align: center;
}

.book .slide .content_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.book .slide .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.book .slide .content h2 {
  font-size: 2rem;
  color: var(--black);
}

.book2 {
  padding: 0 9%;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-4rem);
  }
}

.home {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background: var(--pink);
}

.home .image {
  flex: 1 1 42rem;
  margin-top: 5rem;
}

.home .image img {
  width: 100%;
  animation: floating 4s linear infinite;
}

.home .content {
  flex: 1 1 42rem;
}

.home .content h3 {
  font-size: 6rem;
}

.home .content p {
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 2;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .book {
    padding: 2rem 9%;
  }

  .book2 {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .header .btn {
    display: none;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: var(--border);
    background: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 0;
    padding: 1.5rem 2rem;
  }

  .sm_login,
  #menu-btn {
    display: inline-block; /*inline처럼 줄바꿈없이 한 줄에 나란히 배치됨. inline에서 불가능하던 width, height, margin, padding 속성 지정 가능.*/
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .services {
    flex-direction: column;
  }

  .calender {
    width: 40rem;
    height: 51rem;
  }

  .days div {
    width: 3.9rem;
  }

  .login {
    display: none;
  }

  .header_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .sm_login {
    position: absolute;
    right: 4rem;
  }

  .book .slide {
    height: 15rem;
  }

  .book .slide .image {
    position: relative;
    overflow: hidden;
    height: 11rem;
    width: 100%;
    border-radius: 2rem;
  }

  .book .slide .content h3 {
    font-size: 1.8rem;
  }

  .book .slide .content_info {
    display: none;
  }

  .book {
    padding: 2rem 9%;
  }

  .book2 {
    padding-top: 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading h1 {
    font-size: 3rem;
  }
}
